<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="referencement.css">
    <link rel="stylesheet" href="../../navigation.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="icon" href="../../images/icoVIEWMYpng.png" />

            <meta
    name="description"
    content="Agence de communication digitale spécialisée dans la création de site internet, le référencement naturel pour TPE et PME.
     Considérez votre visibilité web comme un investissement et non comme une dépense"
  />
    <meta property="og:title" content="Viewmy | Agence de communication basée à Rennes en Bretagne" />
    <meta property="og:description" content="Agence de communication digitale spécialisée dans la création de site internet, le référencement naturel pour TPE et PME.
    Considérez votre visibilité web comme un investissement et non comme une dépense" />
    <meta property="og:image" content="https://viewmy.fr/images/icoVIEWMYpng.png" />
    <meta property="og:image:alt" content="Logo agence web Viewmy" />
    
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://viewmy.fr"/>
    <meta property="og:site_name" content="Viewmy"/>
    

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="Agence de communication digitale spécialisée dans la création de site internet, le référencement naturel pour TPE et PME.
    Considérez votre visibilité web comme un investissement et non comme une dépense"/>
    <meta name="twitter:title" content="Viewmy | Agence de communication basée à Rennes en Bretagne"/>
    <meta name="twitter:image" content="https://viewmy.fr/images/icoVIEWMYpng.png"/>
    <meta name="twitter:site" content="@Viewmy"/>

    <link rel="canonical" href="https://www.viewmy.fr" />

    <link rel="apple-touch-icon" href="images/icoVIEWMYpng.png" />
    <title>Référencement | Agence digital Rennaise</title>
</head>
<body>


    <nav>

        <a class="navLink" href="../../index.html">Notre Agence</a>
        <a class="navLink" href="../creation/creation.html">Création</a>
        <a class="navLink" href="">Référencement</a>
        <a class="navLink" href="../responsive/responsive.html">Responsive</a>
        <a class="navLink" href="../contact/contact.html">Contact</a>
        <a class="navLink" href="../contact/contact.html">06.43.82.10.95</a>

    </nav>

    

    <div class="responsiveNav">

        <button class="navButton"><svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="2" y="22" width="26" height="5" rx="2.5" fill="black"/>
            <rect x="2" y="13" width="26" height="5" rx="2.5" fill="black"/>
            <rect x="2" y="4" width="26" height="5" rx="2.5" fill="black"/>
            </svg>
            </button>

    </div>

<div class="out">
    <header>

        <img src="../../images/seoFrame1.jpg" alt="background référencement web Viewmy agence basée à Rennes">

            
        <h2>Un référencement optimisé</h2>

                    <hr></hr>
                    
                    <span>Notre expertise</span>

                    <a href="#firstSeoSection" class="separator"><svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                        <path d="M1.61526 23.25L50 90.1468L98.3847 23.25H1.61526Z" stroke="white"/>
                        <path d="M29.3736 72.75L50 99.1872L70.6264 72.75H29.3736Z" stroke="#56ADFF"/>
                        </g>
                        <defs>
                        <clipPath id="clip0">
                        <rect width="100" height="100" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg></a>

                    


    </header>


    <section class="firstSeoSection" id="firstSeoSection">

        <img src="../../images/seoFrame2.jpg" alt="Background noir visibilité internet Viewxy Pacé">

        <h3>Taper dans la visibilité</h3>

                <p>Bien souvent, l’on constate que les agences de communication où annonceurs proposent la mise en ligne de sites avec un minimum de référencement.
                     Alors que le SEO constitue un facteur clé de réussite en matière de visibilité sur le net, quel intérêt de faire un beau site tout neuf, si personne ne le voit.</p>

                     <p>Selon une étude récente l’on constate que 9 sites sur 10 sont introuvables dans les premières pages des moteurs de recherche.
                          C’est comme mettre un bateau à la mer sans voile.</p>

                          <p><i>De votre côté, jusqu’à quelles pages recherchez-vous ?</i></p>

                          <a href="#secondSeoSection" class="separator"><svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                            <path d="M1.61526 23.25L50 90.1468L98.3847 23.25H1.61526Z" stroke="white"/>
                            <path d="M29.3736 72.75L50 99.1872L70.6264 72.75H29.3736Z" stroke="#56ADFF"/>
                            </g>
                            <defs>
                            <clipPath id="clip0">
                            <rect width="100" height="100" fill="white"/>
                            </clipPath>
                            </defs>
                            </svg></a>




    </section>





    <section class="secondSeoSection" id="secondSeoSection">


        <img src="../../images/seoFrame3.jpg" alt="Background noir communication marketing Viewmy Cesson">

        <h3>Faire la fine communication</h3>

    
<div class="secondSeoSectionRowContainer">
        <p>Le SEO est un travail récurrent qui nécessite un coup de boost lors de la mise en ligne du site, puis une prestation régulière hebdomadaire ou mensuelle.
            Aujourd’hui une position en première page n’est jamais acquise et toute négligence en matière de SEO finit par rendre votre site obsolète.</p>

            <p>C’est à ce prix que votre site gagnera réellement en efficacité. 
                Google possédant 90% des parts de marché en France, il paraît très utile si ce n’est nécessaire de chercher à en obtenir le meilleur référencement possible.</p>


</div>


<svg class="goToTop" width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0)">
    <path d="M1.61526 76.75L50 9.85317L98.3847 76.75H1.61526Z" stroke="#56ADFF"/>
    <path d="M29.3736 27.25L50 0.812835L70.6264 27.25H29.3736Z" stroke="white"/>
    </g>
    <defs>
    <clipPath id="clip0">
    <rect width="100" height="100" fill="white" transform="matrix(1 0 0 -1 0 100)"/>
    </clipPath>
    </defs>
    </svg>

    </section>

    <footer>


        <div class="footerContainer">

            <img src="../../images/logoViewmy.png" alt="logo Viewmy pied de page agence rennaise">

        </div>


        <div class="footerContainer">

            <h5>Infos utiles</h5>
            <span>06.45.17.65.34</span>
            <span>contact@viewmy.fr</span>
            <span>9 av. Joseph Le Brix</span>

        </div>


        <div class="footerContainer">

            <a href="../contact/contact.html">Contact</a>
            <a href="../mentions/mentions.html">Mentions</a>


        </div>




    </footer>

    </div>
</body>

<script type="text/javascript" src="../../app.js"></script>
</html>