<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="icon" href="../../images/icoVIEWMYpng.png" />

            <meta
    name="description"
    content="Agence de communication digitale spécialisée dans la création de site internet, le référencement naturel pour TPE et PME.
     Considérez votre visibilité web comme un investissement et non comme une dépense"
  />
    <meta property="og:title" content="Viewmy | Agence de communication basée à Rennes en Bretagne" />
    <meta property="og:description" content="Agence de communication digitale spécialisée dans la création de site internet, le référencement naturel pour TPE et PME.
    Considérez votre visibilité web comme un investissement et non comme une dépense" />
    <meta property="og:image" content="https://viewmy.fr/images/icoVIEWMYpng.png" />
    <meta property="og:image:alt" content="Logo agence web Viewmy" />
    
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://viewmy.fr"/>
    <meta property="og:site_name" content="Viewmy"/>
    

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="Agence de communication digitale spécialisée dans la création de site internet, le référencement naturel pour TPE et PME.
    Considérez votre visibilité web comme un investissement et non comme une dépense"/>
    <meta name="twitter:title" content="Viewmy | Agence de communication basée à Rennes en Bretagne"/>
    <meta name="twitter:image" content="https://viewmy.fr/images/icoVIEWMYpng.png"/>
    <meta name="twitter:site" content="@Viewmy"/>

    <link rel="canonical" href="https://www.viewmy.fr" />

    <link rel="apple-touch-icon" href="images/icoVIEWMYpng.png" />


    <link rel="stylesheet" href="mentions.css">
    <link rel="stylesheet" href="../../navigation.css">
    <title>Document</title>
</head>
<body>

    <nav>

        <a class="navLink" href="../../index.html">Notre Agence</a>
        <a class="navLink" href="">Création</a>
        <a class="navLink" href="../referencement/referencement.html">Référencement</a>
        <a class="navLink" href="../responsive/responsive.html">Responsive</a>
        <a class="navLink" href="../contact/contact.html">Contact</a>
        <a class="navLink" href="../contact/contact.html">06.43.82.10.95</a>

    </nav>
    
    <div class="responsiveNav">

        <button class="navButton"><svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="2" y="22" width="26" height="5" rx="2.5" fill="black"/>
            <rect x="2" y="13" width="26" height="5" rx="2.5" fill="black"/>
            <rect x="2" y="4" width="26" height="5" rx="2.5" fill="black"/>
            </svg>
            </button>

    </div>

    <div class="out">

    <section>

        <ul>

          <li>Viewmy SAS</li>
          <li>Forme juridique : Société par Action Simplifiée</li>
          <li>Capital social : 200€</li>
          <li>Siège social : 9 avenue Joseph Le Brix | 35740 Pacé</li>
            
        </ul>


        <ul>

            <li>Téléphone : 06.43.82.10.95</li>
            <li>Mail : viewmy35@gmail.com</li>

        </ul>


        <ul>

            <li>Président - M. FOUCAUD Elouan</li>
            <li>Directeur Général - M. BECHET Paul</li>
            <li>Directeur de la publication - M. FOUCAUD Elouan</li>

        </ul>

        <ul>

            <li>OVH</li>
            <li>Forme juridique : Société par Action Simplifiée</li>
            <li>SAS au capital de 10 069 020 €</li>
            <li>Siège social : 2 rue Kellermann - 59100 Roubaix - France</li>
            <li>Code APE 2620Z</li>
            <li>N° TVA : FR 22 424 761 419</li>

        </ul>


    </section>

    <footer>


        <div class="footerContainer">

            <img src="../../images/logoViewmy.png" alt="">

        </div>


        <div class="footerContainer">

            <h5>Infos utiles</h5>
            <span>06.45.17.65.34</span>
            <span>contact@viewmy.fr</span>
            <span>9 av. Joseph Le Brix</span>

        </div>


        <div class="footerContainer">

            <a href="components/contact/contact.html">Contact</a>
            <a href="">Mentions</a>


        </div>




    </footer>

</div>
</body>

<script type="text/javascript" src="mentions.js"></script>

</html>