
header, section {

    position: relative;

    min-height: 100vh;
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-color: black;

}


header {

    animation: headerAnim 2s forwards;

    

}

@keyframes headerAnim {

    0% {
  
      opacity: 0;
  
    }
  
    100% {
  
      opacity: 1;
  
    }
  
  }


header hr {

    width: 500px;
    margin: 10px 0;

}

header span {

    color: grey;
    font-size: 30px;

}

header img{

    object-position: center!important;

}


header img, section img {

    position: absolute;
    

    object-fit: cover;
    object-position: bottom right;
    width: 100%;

    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    
    z-index: 0;

}

header h2, header hr, header span, section p, section h2, section h3, section h4 {

    z-index: 2;

}

.firstCreationSection {

    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding-top: 80px;
}


.rowContainer {

    z-index: 2;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.rowContainer p {

    margin: 15px;

}

section h3 {

    color: #56ADFF;
    font-size: 45px;
    text-align: center;

}

.firstCreationSection img {

    object-position: top center;

}

.firstCreationSection p:nth-of-type(3) {

    align-self: flex-start;

}

.secondCreationSection p {

    margin: 25px;

}

section p {

    color: white;
    font-size: 22px;
    width: 700px;

    max-width: 90%;

    line-height: 45px;

}

section h2, header h2 {

    color: #56ADFF;
    font-size: 45px;

    text-align: center;

}



/* _____________________________MEDIA QUERIES_______________________________ */

@media screen and (max-width:850px) {

    .secondCreationSection img {

        object-position: 70% 100px;

    }

}


@media screen and (max-width:450px) {

    .secondCreationSection img {

        object-position: 80% 0px;

    }

}