<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="creation.css">
        <link rel="stylesheet" href="../../navigation.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="icon" href="../../images/icoVIEWMYpng.png" />

            <meta
    name="description"
    content="Agence de communication digitale spécialisée dans la création de site internet, le référencement naturel pour TPE et PME.
     Considérez votre visibilité web comme un investissement et non comme une dépense"
  />
    <meta property="og:title" content="Viewmy | Agence de communication basée à Rennes en Bretagne" />
    <meta property="og:description" content="Agence de communication digitale spécialisée dans la création de site internet, le référencement naturel pour TPE et PME.
    Considérez votre visibilité web comme un investissement et non comme une dépense" />
    <meta property="og:image" content="https://viewmy.fr/images/icoVIEWMYpng.png" />
    <meta property="og:image:alt" content="Logo agence web Viewmy" />
    
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://viewmy.fr"/>
    <meta property="og:site_name" content="Viewmy"/>
    

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="Agence de communication digitale spécialisée dans la création de site internet, le référencement naturel pour TPE et PME.
    Considérez votre visibilité web comme un investissement et non comme une dépense"/>
    <meta name="twitter:title" content="Viewmy | Agence de communication basée à Rennes en Bretagne"/>
    <meta name="twitter:image" content="https://viewmy.fr/images/icoVIEWMYpng.png"/>
    <meta name="twitter:site" content="@Viewmy"/>

    <link rel="canonical" href="https://www.viewmy.fr" />

    <link rel="apple-touch-icon" href="images/icoVIEWMYpng.png" />

    <title>Création de site internet | Agence web en Bretagne</title>
</head>
<body>

    <nav>

        <a class="navLink" href="../../index.html">Notre Agence</a>
        <a class="navLink" href="">Création</a>
        <a class="navLink" href="../referencement/referencement.html">Référencement</a>
        <a class="navLink" href="../responsive/responsive.html">Responsive</a>
        <a class="navLink" href="../contact/contact.html">Contact</a>
        <a class="navLink" href="../contact/contact.html">06.43.82.10.95</a>

    </nav>
    
    <div class="responsiveNav">

        <button class="navButton"><svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="2" y="22" width="26" height="5" rx="2.5" fill="black"/>
            <rect x="2" y="13" width="26" height="5" rx="2.5" fill="black"/>
            <rect x="2" y="4" width="26" height="5" rx="2.5" fill="black"/>
            </svg>
            </button>

    </div>
    
    <div class="out">

    <header>

        <img src="../../images/creationFrame1.jpg" alt="">

            
        <h2>Création de sites internet</h2>

                    <hr></hr>
                    
                    <span>Notre savoir faire</span>

                    <a href="#firstCreationSection" class="separator"><svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                        <path d="M1.61526 23.25L50 90.1468L98.3847 23.25H1.61526Z" stroke="white"/>
                        <path d="M29.3736 72.75L50 99.1872L70.6264 72.75H29.3736Z" stroke="#56ADFF"/>
                        </g>
                        <defs>
                        <clipPath id="clip0">
                        <rect width="100" height="100" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg></a>


    </header>


    <section class="firstCreationSection" id="firstCreationSection">

        <img src="../../images/creationFrame2.jpg" alt="">


            <h3>Un site à la pointe</h3>

            <div class="rowContainer">

            <p>Chez Viewmy nos équipes étant en constante veille sur l'évolution des nouvelles technologies, nous visons la fiabilité pour créer votre site web !</p>

            <p>Créer un site internet est un réel savoir-faire et doit respecter bon nombre de critères, tels que, le design graphique, l'ergonomie, l'aspect UI/UX design ou encore le référencement. 
            Ceci nécessite de l'investissement pour un contenu adapté et surtout, de qualité.</p>

            <p>Notre travail doit être à votre image et à celle de votre entreprise, c'est pourquoi nous prônons la transparence et la proximité avec nos clients.</p>
        
        </div>

            <a href="#secondCreationSection" class="separator"><svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                <path d="M1.61526 23.25L50 90.1468L98.3847 23.25H1.61526Z" stroke="white"/>
                <path d="M29.3736 72.75L50 99.1872L70.6264 72.75H29.3736Z" stroke="#56ADFF"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="100" height="100" fill="white"/>
                </clipPath>
                </defs>
                </svg></a>
                


    </section>





    <section class="secondCreationSection" id="secondCreationSection">


        <img src="../../images/creationFrame3.jpg" alt="">

        <h3>En faire tout un graphisme</h3>

    

        <p>Besoin d'un logo ? D'une identité visuelle ? Nos équipes de designer, à votre écoute, vous propose un design personnel, unique et impactant pour vous démarquer de la concurrence.

</p>


<p>Viewmy vous accompagne dans la conception graphique de votre site tout au long de vos projets ! 
    Nous avons un intérêt particulier à transmettre vos valeurs et votre savoir-faire pour vous représenter au mieux et vous distinguez en tant qu'entreprise.</p>




    <svg class="goToTop" width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0)">
        <path d="M1.61526 76.75L50 9.85317L98.3847 76.75H1.61526Z" stroke="#56ADFF"/>
        <path d="M29.3736 27.25L50 0.812835L70.6264 27.25H29.3736Z" stroke="white"/>
        </g>
        <defs>
        <clipPath id="clip0">
        <rect width="100" height="100" fill="white" transform="matrix(1 0 0 -1 0 100)"/>
        </clipPath>
        </defs>
        </svg>


    </section>

    <footer>


        <div class="footerContainer">

            <img src="../../images/logoViewmy.png" alt="">

        </div>


        <div class="footerContainer">

            <h5>Infos utiles</h5>
            <span>06.45.17.65.34</span>
            <span>contact@viewmy.fr</span>
            <span>9 av. Joseph Le Brix</span>

        </div>


        <div class="footerContainer">

            <a href="../contact/contact.html">Contact</a>
            <a href="">Mentions</a>


        </div>




    </footer>

</div>
    
</body>
<script type="text/javascript" src="../../app.js"></script>
</html>