<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="icon" href="../../images/icoVIEWMYpng.png" />

    <link rel="stylesheet" href="contact.css">
    <link rel="stylesheet" href="../../navigation.css">

            <meta
    name="description"
    content="Agence de communication digitale spécialisée dans la création de site internet, le référencement naturel pour TPE et PME.
     Considérez votre visibilité web comme un investissement et non comme une dépense"
  />
    <meta property="og:title" content="Viewmy | Agence de communication basée à Rennes en Bretagne" />
    <meta property="og:description" content="Agence de communication digitale spécialisée dans la création de site internet, le référencement naturel pour TPE et PME.
    Considérez votre visibilité web comme un investissement et non comme une dépense" />
    <meta property="og:image" content="https://viewmy.fr/images/icoVIEWMYpng.png" />
    <meta property="og:image:alt" content="Logo agence web Viewmy" />
    
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://viewmy.fr"/>
    <meta property="og:site_name" content="Viewmy"/>
    

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="Agence de communication digitale spécialisée dans la création de site internet, le référencement naturel pour TPE et PME.
    Considérez votre visibilité web comme un investissement et non comme une dépense"/>
    <meta name="twitter:title" content="Viewmy | Agence de communication basée à Rennes en Bretagne"/>
    <meta name="twitter:image" content="https://viewmy.fr/images/icoVIEWMYpng.png"/>
    <meta name="twitter:site" content="@Viewmy"/>

    <link rel="canonical" href="https://www.viewmy.fr" />

    <link rel="apple-touch-icon" href="images/icoVIEWMYpng.png" />
    <title>Contact | Viewmy agence digitale Rennes</title>
</head>
<body>

    <nav>

        <a class="navLink" href="../../index.html">Notre Agence</a>
        <a class="navLink" href="../creation/creation.html">Création</a>
        <a class="navLink" href="../referencement/referencement.html">Référencement</a>
        <a class="navLink" href="../responsive/responsive.html">Responsive</a>
        <a class="navLink" href="">Contact</a>
        <a class="navLink" href="">06.43.82.10.95</a>

    </nav>
 
    <div class="responsiveNav">

        <button class="navButton"><svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="2" y="22" width="26" height="5" rx="2.5" fill="black"/>
            <rect x="2" y="13" width="26" height="5" rx="2.5" fill="black"/>
            <rect x="2" y="4" width="26" height="5" rx="2.5" fill="black"/>
            </svg>
            </button>

    </div>

   <div class="out">

    
    <header>


        <img src="../../images/contactFrame.jpg" alt="">

        <div class="contactColContainer">

            <h2>Nous contacter</h2>
            <hr>

                <li><img src="../../images/phoneIcon.png" alt=""><span>06.45.17.65.34</span></li>
                <li><img src="../../images/mailIcon.png" alt=""><span>contact@viewmy.fr</span></li>
                <li><img className="lastContactImage" src="../../images/localisationIcon.png" alt=""><span>9 av. Joseph Le Brix - 35740 Pacé</span></li>
</div>


    </header>
    </div>
</body>

<script type="text/javascript" src="contact.js"></script>
</html>